test_codes/insta360/sdk/*
!test_codes/insta360/sdk/.gitkeep
test_codes/insta360/build/*
src/c_impl/models/
src/c_impl/build/
src/c_impl/onnx/
src/python/detections_out/*
src/python/live_out/*
src/calibration/*
datasets/*